{% extends "map/base.html" %}

{% block title %}Civitas Map{% endblock %}

{% block head %}
    <meta name="viewport" content="initial-scale=1,maximum-scale=1,user-scalable=no">
    <link href="https://api.mapbox.com/mapbox-gl-js/v3.9.4/mapbox-gl.css" rel="stylesheet">
    <script src="https://api.mapbox.com/mapbox-gl-js/v3.9.4/mapbox-gl.js"></script>
    <link rel="stylesheet" href="{{ url_for('static', path='/css/main.css') }}">
{% endblock %}

{% block content %}
<body>
    <div id="sidebar">
        <h2>Building Details</h2>
        <div id="building-info">Click on a building to see details.</div>
    </div>

    <div id="map"></div>

    <script>
        const MAPBOX_ACCESS_TOKEN = "{{ mapbox_access_token }}";
        const API_URL = "{{ api_url }}";
    </script>

    <script src="{{ url_for('static', path='/js/config.js') }}"></script>
    <script src="{{ url_for('static', path='/js/data.js') }}"></script>
    <script src="{{ url_for('static', path='/js/buildings.js') }}"></script>
    <script src="{{ url_for('static', path='/js/map.js') }}"></script>
    <script src="{{ url_for('static', path='/js/maintenance.js') }}"></script>
</body>
{% endblock %}
