<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <title>Civitas Map</title>
    <meta name="viewport" content="initial-scale=1,maximum-scale=1,user-scalable=no">
    <link href="https://api.mapbox.com/mapbox-gl-js/v3.9.4/mapbox-gl.css" rel="stylesheet">
    <script src="https://api.mapbox.com/mapbox-gl-js/v3.9.4/mapbox-gl.js"></script>
    <link rel="stylesheet" href="{{ url_for('static', path='/css/main.css') }}">
</head>
<body>

<div id="sidebar">
    <h2>Building Details</h2>
    <div id="building-info">Click on a building to see details.</div>
</div>

<div id="map"></div>

<script>
    const MAPBOX_ACCESS_TOKEN = "{{mapbox_access_token}}";
    const API_URL = "{{api_url}}";
</script>

<script src="{{ url_for('static', path='/js/data.js') }}"></script>
<script src="{{ url_for('static', path='/js/map.js') }}"></script>

</body>
</html>
